header {
	padding: 2rem;

	.navigation {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		ul {
			display: flex;
			align-items: center;
			list-style: none;
		}

    .logo {
      margin-right: 2rem;
    }

		li {
			margin: 0 1rem;
			
		}

		a {
			text-decoration: none;
      color: $textColor;
      font-weight: 300;
		}
	}
}
