@import './variables';
@import './header';

@mixin flexCenter($direction) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: $direction;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: $backgroundColor;
	height: 100vh;
	font-size: 18px;
	font-family: 'Epilogue', sans-serif;

  #sidenav {
    display: none;
  }
}



.container {
	height: 100%;
}

.hero-container {
	display: flex;
	padding: 0 5rem;

	.content {
		width: 50%;

		padding: 0 5rem;
		display: flex;
		flex-direction: column;

		gap: 2rem;

		h1 {
			margin-top: 7rem;
			font-size: 60px;
			span {
				display: block;
			}
		}

		p {
			line-height: 1.25;

			color: $textColor;
		}

		.primary-btn {
			border: none;
			border-radius: 16px;
			width: 150px;
			padding: 1rem;
			background-color: $primaryBtn;
			color: #fff;
			transition: all 0.3s ease;
			border: 1px solid $primaryBtn;

			&:hover {
				background-color: $secondaryBtn;
				color: $primaryBtn;
			}
		}

		.sponsers {
			display: flex;
			justify-content: space-between;
			list-style: none;
			margin-top: auto;
		}
	}

	.image-container {
		height: 600px;
		width: 50%;

		.mobile-hero {
			display: none;
		}
		.desktop-hero {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
}
@media only screen and (max-width: 1050px) {
  

  .hero-container {
	display: flex;
	padding: 0;

  .content {
    padding: 2rem;
  }
  }


  .sponsers {
		width: 100%;
		li {
			img {
				width: 50px;
			}
		}
	}
}

@media only screen and (max-width: 700px) {
  body {
	#sidenav {
		height: 100%; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 1; /* Stay on top */
		top: 0; /* Stay at the top */
		right: 0;
		background-color: #fff; /* Black*/
		overflow-x: hidden; /* Disable horizontal scroll */
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
		display: block;
  }

		#close-btn {
			position: absolute;
			right: 0;
			top: 0;
			margin: 1rem;
		}

   

		.sidenav-list-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 4rem 1rem 0 1rem;

			li {
				list-style: none;
				margin: 1rem 0;
			}

			a {
				color: $textColor;
				text-decoration: none;
			}

			.side-nav-login {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.secondary-btn {
				border: 2px solid $primaryBtn;
				padding: 0.75rem 3rem;
				border-radius: 16px;
				cursor: pointer;
				transition: all 0.3s ease;
			}
		}
	}

	header {
		padding: 0;
	}
	.hero-container {
		padding: 0;
		display: flex;
		align-items: center;
		flex-direction: column-reverse;

		.content {
			width: 100%;
			padding: 0 1rem;
			align-items: center;
			gap: 1rem;

			h1 {
				font-size: 32px;
				margin-top: 2rem;

				span {
					display: inline;
				}
			}

			p {
				font-size: 16px;
			}

			.primary-btn {
				width: 120px;
				margin: 2rem 0;
			}
		}

		.image-container {
			height: 100%;
			width: 100%;

			.mobile-hero {
				display: block;
				width: 100%;
			}
			.desktop-hero {
				display: none;
			}
		}
	}

	header {
		padding: 1rem;
		.navigation {
       #menu-btn {
      display: block;
    }
			.nav-list-container {
				li {
					display: none;
				}
				.menu-btn {
					display: block;
				}
			}
		}
	}

	.sponsers {
		width: 100%;
		li {
			img {
				width: 50px;
			}
		}
	}

	.image-container {
		height: 100%;
		width: auto;
	}
}
